<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quản lý thông tin hợp đồng</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="header">
      <div class="nav-container">
        <div class="logo">
          <img src="logo.png" class = "logo" alt="" width="120px">
        </div>
        <div class="navbar">
          <nav>
            <ul id="Menu">
              <li><a href="login.html"><button type="button" name="button" class="btn1">Đăng xuất</button></a></li>
              <li><a href="Q&A.html">Hỏi & đáp</a></li>
              <li><a href="QlVX.html">Quản lý vé xe</a></li>
              <li><a href="QlDV.html">Quản lý dịch vụ</a></li>
              <li><a href="QlHD.html">Quản lý hợp đồng</a></li>
              <li><a href="QlPT.html">Quản lý phòng trọ</a></li>
              <li><a href="QlSV.html">Quản lý SV</a></li>
              <li><a href="index.html">Trang chủ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="container">
      <form class="loginForm" action="index.html" method="post">
        <h1 class="addSV">Sửa thông tin HĐ</h1>
        <table>
          <tr>
            <td><p>Mã sinh viên: </p></td>
            <td><input type="text" name="stuIDCard" value=""></td>
          </tr>
          <tr>
            <td><p>Tên sinh viên: </p></td>
            <td><input type="text" name="stuName" value=""></td>
          </tr>
          <tr>
            <td><p>Số CMT/CCCD: </p></td>
            <td><input type="text" name="identityNumber" value=""></td>
          </tr>
          <tr>
            <td><p>Ngày sinh: </p></td>
            <td><input type="date" name="DOB" value=""></td>
          </tr>
          <tr>
            <td><p>Lớp: </p></td>
            <td><input type="text" name="DOB" value=""></td>
          </tr>
          <tr>
            <td><p>Địa chỉ thường trú: </p></td>
            <td><input type="text" name="address" value=""></td>
          </tr>
          <tr>
            <td><p>Số phòng: </p></td>
            <td><input type="text" name="" value=""></td>
          </tr>
          <tr>
            <td><p>Giá phòng: </p></td>
            <td><input type="text" name="" value=""></td>
          </tr>
          <tr>
            <td><p>Ngày thuê: </p></td>
            <td><input type="date" name="" value=""></td>
          </tr>
          <tr>
            <td><p>Thời hạn hợp đồng: </p></td>
            <td><input type="text" name="" value=""></td>
          </tr>
          <!-- <tr>
            <td><p>Lớp: </p></td>
            <td><select class="" name="">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select></td>
          </tr>
          <tr>
            <td><p>Địa chỉ thường trú: </p></td>
            <td><input type="text" name="address" value=""></td>
          </tr> -->
        </table>
        <input type="submit" name="updateContract" value="Cập nhật">
        <input type="reset" name="reset" value="Xóa tất cả">
        <a href="QLHD.html"><input type="button" name="goBack" value="Quay lại"></a>
      </form>
    </div>

  </body>
</html>
