<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quản lý thông tin phòng</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="header">
      <div class="nav-container">
        <div class="logo">
          <img src="logo.png" class = "logo" alt="" width="120px">
        </div>
        <div class="navbar">
          <nav>
            <ul id="Menu">
              <li><a href="login.html"><button type="button" name="button" class="btn1">Đăng xuất</button></a></li>
              <li><a href="Q&A.html">Hỏi & đáp</a></li>
              <li><a href="QlVX.html">Quản lý vé xe</a></li>
              <li><a href="QlDV.html">Quản lý dịch vụ</a></li>
              <li><a href="QlHD.html">Quản lý hợp đồng</a></li>
              <li><a href="QLPT.html">Quản lý phòng trọ</a></li>
              <li><a href="QlSV.html">Quản lý SV</a></li>
              <li><a href="index.html">Trang chủ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="container">
      <form class="loginForm" action="index.html" method="post">
        <h1 class="addSV">Tìm phòng</h1>
        <table>
          <tr>
            <td><p>Nhập giá tiền: </p></td>
            <td><input type="number" name="roomPriceFinding" value="" placeholder="Nhập khoảng giá tiền"></td>
          </tr>
        </table>
        <a href="roomFound.html"><input type="button" name="findStudent" value="Tìm"></a>
        <!-- Chỗ này chưa sửa type thành submit -->
        <a href="index.html" href="index.html"><input type="button" name="goBack" value="Quay lại"></a>
      </form>
    </div>

  </body>
</html>
