<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Đăng nhập hệ thống</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="header">
      <div class="nav-container">
        <div class="logo">
          <img src="logo.png" class = "logo" alt="" width="120px">
        </div>
        <div class="loginNavbar">
          <h1 class = "title">Hệ thống quản lý Ký túc xá sinh viên</h1>
        </div>
      </div>
    </div>

    <div class="loginContainer">
        <form class="loginForm" action="index.html" method="post">
          <h1 id="login">ĐĂNG NHẬP</h1>
          <table>
            <tr>
              <td><p>TÀI KHOẢN: </p></td>
              <td><input type="text" name="" value="" placeholder="Nhập tài khoản"></td>
            </tr>
            <tr>
              <td><p>MẬT KHẨU: </p></td>
              <td><input type="password" name="" value="" placeholder="Nhập mật khẩu"></td>
            </tr>
          </table>
          <input class="loginBtn" type="submit" name="loginBtn" value="Đăng nhập">
        </form>
      </div>
</body>
