<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quản lý thông tin phòng</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="header">
      <div class="nav-container">
        <div class="logo">
          <img src="logo.png" class = "logo" alt="" width="120px">
        </div>
        <div class="navbar">
          <nav> 
            <ul id="Menu">
              <li><a href="login.html"><button type="button" name="button" class="btn1">Đăng xuất</button></a></li>
              <li><a href="Q&A.html">Hỏi & đáp</a></li>
              <li><a href="QlVX.html">Quản lý vé xe</a></li>
              <li><a href="QlDV.html">Quản lý dịch vụ</a></li>
              <li><a href="QlHD.html">Quản lý hợp đồng</a></li>        
              <li><a href="QLPT.html">Quản lý phòng trọ</a></li>
              <li><a href="QlSV.html">Quản lý SV</a></li>
              <li><a href="index.html">Trang chủ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="studentManagement">
      <div class="">
        <a th:href="@{/QLPT.html/addRoom}" class="btn">Thêm phòng trọ</a>
      </div>
      <div class="">
        <a th:href="@{/QLPT.html/roomSearch}" class="btn">Sửa/Xóa phòng trọ</a>
      </div>
        <!-- <div>
          <a href="findRoom.html" class="btn ttpt">Tìm kiếm tt phòng trọ</a>
        </div> -->
    </div>
  </body>
</html>
